body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

#interactive {
  margin-top: 84px;
}

#scanner-view {
  text-align: center;
}

#scan-button {
  margin-top: 45vh;
  margin-bottom: 3rem;
}

.product-card {
  margin-top: 84px;
}

.product-card > .ui.card {
  margin: auto;
}